body, html {
    height: 100%;
}

#content {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    background: rgb(42, 178, 56);
}

#content div {
    display: inline-block;
}

#content div * {
    display: block;
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 25px;
}

.info {
    padding-top: 15px;
    background: rgb(42, 178, 56);
    display: flex;
    justify-content: center;
    align-content: center;
}

#intro {
    width: 40%;
    padding: 10px;
    text-align: center;
    align-content: center;
}

#left-panel {
    left: 0px;
    width: 40%;
    min-width: 500px;
    max-height: 75px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    transition: all 1s ease;
}

#left-panel.expand {
    width: 70%;
    max-height: 100%;
}

#right-panel {
    width: 40%;
    min-width: 500px;
    max-height: 75px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    transition: all 1s ease;
}

#right-panel.expand {
    width: 70%;
    max-height: 100%;
}

.parallax {
    height: 70%;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spacer {
    padding: 5px;
}